#include "page.h"
.file "test.S.main.S" 
.option nopic
.option norvc
.text
.align    1
.globl   PG0, PG1, PGEND, sys_program, sys_program_end
.type    block0, @function

PG0:
	ZPAGE
PG1:	
	ZPAGE
PG2:	
	ZPAGE
PG3:
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
	ZPAGE
PGEND:
	ZPAGE
sys_program:
